body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: flex-end;
}

    .sidebar{
        width: 200px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color:grey;
        border-radius: 1%;
        overflow: hidden;
    }
        .placeholder-logo{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1%;
            box-shadow: 0px 1px 5px #8d6c9f;
            background-color: grey;
        }
        .link{
            width: 100%;
            height:fit-content;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
        }
            ul{
                list-style-type: none;
                padding-inline-start: 0%;
                margin: 0;
                width: 100%;
            }
                ul li{
                    width: 100%;
                    margin-block: 1%;
                    padding-top: 5%;
                    padding-bottom: 5%;
                    box-shadow: 0px 1px 5px #8d6c9f;
                    border-radius: 5%;
                    transition: 300ms;
                    display: flex;
                    justify-content: flex-end;
                }
                ul li:hover{
                    background-color: #8d6c9f;
                }
                    ul li a {
                        width: fit-content;
                        color: #2b2b2b;
                        transition: 300ms;
                    }
                    a:link{
                        text-decoration: none;
                    }
                    a:hover{
                        color: #2b2bb2;
                    }
        .account-info{
            width: 100%;
            height:30%;
            margin-top: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            border-radius: 1%;
            box-shadow: 0px -1px 5px #8d6c9f;  
            background-color: grey;
        }
            .avatar{
                margin-bottom: 10%;
                width: 40%;
                height: 40%;
                object-fit: cover;
                border-radius: 5%;
                overflow: hidden;
                box-shadow: 0px 5px 10px #8d6c9f;
            }
                .avatar img{
                    height: 100%;
                    width: 100%;
                }
            .user-name{
                margin-bottom: 10%;
                font-size: 200%;
            }